Repository balena-io-modules/balena-semver: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint --fix, npm run docs

.lintstagedrc:

{
	"*.js": [
		"balena-lint --fix"
	],
	"*.ts": [
		"balena-lint --fix",
		"npm run docs"
	]
}

Fix parsing & incrementing semver parts > 1000
  README.md
  src/index.ts
  test/index.spec.ts
Due: balena-lint --fix, npm run docs

Update balena-lint to v9
  package.json
  src/index.ts
Due: balena-lint --fix, npm run docs

Update dependencies
  package.json
Due: none

Switch tsconfig module to `Node16`, remaining as commonjs
  package.json
  tsconfig.json
Due: none

Enable linting for automation scripts
  .lintstagedrc
  automation/docs.js
  automation/test-config.js
  automation/test.js
  package.json
  tsconfig.dev.json
Due: balena-lint --fix

Improve readability of README examples
  README.md
  automation/docs.js
Due: balena-lint --fix

Simplify automation of tests/docs by using the mocha cli
  automation/docs.js
  automation/test-config.js
  automation/test.js
  package.json
Due: balena-lint --fix

Disable memoization by default and switch it to being opt-in via `enableMemoizations` or importing `balena-semver/memoized`
  README.md
  package.json
  src/index.ts
  src/memoized.ts
Due: balena-lint --fix, npm run docs

Switch tsconfig target from es5 to es2017
  README.md
  tsconfig.json
Due: none

Convert to ESM
  README.md
  automation/docs.js
  package.json
  src/index.ts
  test/index.spec.ts
Due: balena-lint --fix, npm run docs

Drop support for nodejs < 20
  package.json
  tsconfig.json
Due: none

Leaked secret in code for scanner test
  .github/workflows/flowzone.yml
  package.json
Due: none

Replace lodash with memoizee
  package.json
  src/index.ts
Due: balena-lint --fix, npm run docs

Drop support for node < 20.12.0
  package.json
Due: none

Update tsconfig target to es2017
  tsconfig.json
Due: none

Add id-token: write permission for NPM OIDC publishing
  .github/workflows/flowzone.yml
Due: none

Revert flowzone pinning to master
  .github/workflows/flowzone.yml
Due: none

parse: Add a 'normalized' property in the result SemveObject
  README.md
  src/index.ts
Due: balena-lint --fix, npm run docs

parse: Add a 'rev' property to the result SemVer object
  README.md
  src/index.ts
  test/index.spec.ts
Due: balena-lint --fix, npm run docs

Make the revision detection stricter
  README.md
  src/index.ts
  test/index.spec.ts
Due: balena-lint --fix, npm run docs

Add min() and max() helpers
  README.md
  src/index.ts
  test/index.spec.ts
Due: balena-lint --fix, npm run docs

Add the getRevision() helper
  README.md
  src/index.ts
  test/index.spec.ts
Due: balena-lint --fix, npm run docs

Rename .linstagedrc to .lintstagedrc.json
  .lintstagedrc.json
Due: none

Update typescript to v6
  package.json
  tsconfig.dev.json
  tsconfig.json
Due: none
